.info-list {
  transition: background-color 0.3s;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}
.info-list.updated > .submited-form:first-of-type {
  background-color: rgba(0, 255, 0, 0.163);
}
