.password-strength {
  background-color: transparent;
  height: 1rem;
  transition:
    width 0.5s,
    background-color 0.5s;
}
.type1 {
  width: 25%;
  background-color: red;
}
.type2 {
  width: 50%;
  background-color: orange;
}
.type3 {
  width: 75%;
  background-color: yellow;
}
.type4 {
  width: 100%;
  background-color: green;
}
