.search-input {
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  transition:
    background-color 0.3s,
    border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}
.pagination-button {
  border-radius: 0;
  border: none;
  background-color: transparent;
  transition:
    background-color 0.3s,
    border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}
.page-size {
  width: 5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  transition:
    background-color 0.3s,
    border-bottom 0.3s;
  border-bottom: 2px solid transparent;

  @media (max-width: 768px) {
    width: 7rem;
  }
}
.search-input:hover,
.page-size:hover,
.pagination-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.search-input:focus-visible,
.page-size:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.search-button {
  border: none;
  background-color: transparent;

  border-radius: 0;
  transition: background-color 0.3s;
}

.search-button:hover,
.pagination-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.search-button:active {
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.2);
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
  padding-top: 1rem;
}
